h1{
    color: #9d4ccb;
    text-align: center;
}

h2{
    color: #25608d;
    text-align: center;
}

h3{
    color: #e511c2;
    text-align: center;
}

h4{
    color: #27c7cc;
    text-align: center;
}

h5{
    color: #c3f18f;
    text-align: center;
}

h6{
    color: #f3dc0f;
    text-align: center;
}

.para{
    border: 20px;
    border-color: #010509;
    text-align: center;
    border-style: solid;
}


.navbar {
    border :3px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    border-color: #010509;
    padding: 15px;
    background-color: rgb(28, 2, 49);
}

.navbar a{
    color:aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    justify-content: space-around;
        font-size: 20px;
}

.navbar a:hover {
    background-color: #3f034f;
    color: white;
}


body{
    margin: 0px;
}