h1{
    color: #0a0a0a;
}

h2{
    color: #060606;
}

h3{
    color: #030303e4;
}

h4{
    color: #030303e4;
}

h5{
    color: #030303e4;
}

h6{
    color: #030303e4;
}

.para{
    border: 20px;
    border-color: #010509;
    text-align: center;
    border-style: solid;
}


.navbar {
    border :3px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    border-color: #010509;
    padding: 15px;
    background-color: rgb(146, 5, 22);
}

.navbar a{
    color:aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    justify-content: space-around;
        font-size: 20px;
}

.navbar a:hover {
    background-color: #3f034f;
    color: white;
}


body{
    margin: 0px;
}

.card{
    border: 2px solid #010509;
    width: 300px;
    text-align: center;
}

.card img{
    max-width: 100%;
    height: auto;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card button{
    background-color: #25608d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

